div {
  border: 1px solid black;
}

.box {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
}

.container {
  background-color: aliceblue;
}

.item {
  color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  font-weight: bold;
}
